body {
    background: rgba(87, 9, 116, 1);
    background: linear-gradient(90deg, rgba(87, 9, 116, 1) 48%, rgb(3, 66, 14) 100%);
}
h1{
    color: #0cc02c;
    text-align: center;
    font-size: 50px;

}
table {
    border-radius: 10px;
    box-shadow: 0 5px 15px black;
    overflow: hidden;
    /* shrink the table a bit*/
    color: #0cc02c;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 800;
    line-height: 1;
    outline-color: black;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
td {
    border: solid 1px #000;
    padding: 1px;
    color: #0cc02c;
}
th { color: #0cc02c;
    text-align: center;
}
button {
    background: rgba(87, 9, 116, 1);
    background: linear-gradient(90deg, rgba(87, 9, 116, 1) 48%, rgb(20, 23, 21) 100%);
    border: none;
    color: #0cc02c;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.modal {
    color: #0cc02c;
    background: rgba(87, 9, 116, 1);
    background: linear-gradient(90deg, rgba(87, 9, 116, 1) 48%, rgb(3, 66, 14) 100%);
}