.flex-container {
    display: flex;
    flex-flow: column wrap;
     justify-content: center;
}

.flex-item {
    display: flex;
    flex-flow: row wrap;


}

.flex-item:nth-child(1) {
    min-height: 50px;
}

.flex-item:nth-child(2) {
    min-height: 50px;
}